.profile__rank {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  padding-top: 7px;
}

@media screen and (max-width: 700px) {
  .profile__rank {

  }
}

@media screen and (max-width: 560px) {
  .profile__rank {
    font-size: 14px;
    padding-top: 8px;
  }
}
