.profile__edit {
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 0;
  border: 0;
  background: url(../../../images/profile-edit.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-top: 13px;
}

.profile__edit:hover {
  background-image: url(../../../images/profile-edit-hover.svg);
}

@media screen and (max-width: 560px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-top: 7px;
  }
}
