.popup__submit {
  border: 0;
  background-color: #000;
  display: block;
  width: 100%;
  color: #fff;
  line-height: 1.22;
  font-weight: 400;
  padding: 14px 0;
  min-width: 358px;
  cursor: pointer;
  margin-top: 48px;
}

.popup__submit:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 560px) {
  .popup__submit {
    margin-top: 45px;
    min-width: auto;
    font-size: 14px;
  }
}
