.profile__info {
  position: relative;
  padding-right: calc(18px + 25px);
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .profile__info {
    padding: 0 calc(18px + 24px + 1px) 36px;
    margin-top: 26px;
  }
}

@media screen and (max-width: 560px) {
  .profile__info {
    padding: 0 calc(10px + 18px + 1px) 32px;
  }
}
