.profile__avatar-container {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 30px;
}

@media screen and (max-width: 700px) {
  .profile__avatar-container {
    padding-right: 0;
  }
}
